form {
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
form input , form select {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  /* padding: 0 20px; */
  padding-left: 30px;
  font-size: 22px;
  outline: 0;
  border-radius: 8px;
  border: 2px solid rgb(180, 176, 176);
}

form textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0;
  /* padding: 0 20px; */
  padding-left: 30px;
  font-size: 22px;
  outline: 0;
  border-radius: 8px;
  border: 2px solid rgb(180, 176, 176);
}

.input_box {
  position: relative;
}

form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  /* color: green; */
  font-size: 20px;
}

form .input_box .tog {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-127%, -50%);
  /* color: green; */
  font-size: 20px;
}

form input:focus,
form textarea:focus {
  border: 2px solid #10264B;
}

form button {
  width: 100%;
  height: 50px;
  background-color: #10264B;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  /* pointer-events: all; */
}
